* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #666666;
  font-size: 1em;
}

.Navbar .Navbar-top {
  width: 100%;
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25em 1em;
}

.Navbar .Navbar-top .Navbar-avatar {
  width: 3vw;
  height: 3vw;
}

.Navbar .Navbar-bottom {
  width: 100%;
  background-color: #4b4b4b;
  min-height: 30px;
}

.Navbar .Navbar-bottom .Navbar-bottom-btn {
  text-decoration: none;
  display: inline-block;
  color: #ffa639;
  background: transparent;
  border: none;
  font-size: 1em;
  margin: 0.5em 2em;
  cursor: pointer;
}

.SearchGroup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SearchGroup .SearchGroup-con {
  width: 97%;
  max-width: 1440px;
  border: 3px solid #666666;
  border-radius: 10px;
  margin: 0.45rem 0;
}

.SearchGroup .SearchGroup-con .SearchGroup-con-top {
  min-height: 100px;
  padding: 0.5em;
}

.SearchGroup .SearchGroup-con .SearchGroup-con-top label,
.SearchGroup .SearchGroup-con .SearchGroup-con-top input,
.SearchGroup .SearchGroup-con .SearchGroup-con-top select {
  font-size: 1em;
  padding: 0.25rem;
}

.SearchGroup .SearchGroup-con .SearchGroup-con-top select {
  margin-right: 1em;
}

.SearchGroup .SearchGroup-con .SearchGroup-con-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

.SearchGroup .SearchGroup-con .SearchGroup-con-bottom .SearchGroup-con-bottom-btn {
  font-size: 1em;
  color: #666666;
  background: white;
  border: 1px solid #666666;
  padding: 0.25em;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
}

.SearchGroup .SearchGroupShowCharts {
  width: 97%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SearchGroup .SearchGroupShowCharts .SearchGroupShowCharts-btn {
  font-size: 1em;
  color: #666666;
  background: white;
  border: 1px solid #666666;
  padding: 0.25em;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
}

.TableGroup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TableGroup .TableGroup-con {
  width: 97%;
  max-width: 1440px;
  overflow-y: scroll;
  margin: 0 auto;
}

.TableGroup .TableGroup-con .Table {
  min-width: 100%;
  border-collapse: collapse;
  border: 2px solid #666666;
  margin: 0.45rem 0;
}

.TableGroup .TableGroup-con .Table .Table-tr:nth-child(2n-1) {
  background: #f3f3f3;
}

.TableGroup .TableGroup-con .Table .Table-th-large {
  min-width: 200px;
}

.TableGroup .TableGroup-con .Table .Table-detail {
  cursor: pointer;
}

.TableGroup .TableGroup-con .Table .Table-th {
  font-size: 1.15em;
  padding: 0.25em 0.5em;
  min-width: 135px;
}

.TableGroup .TableGroup-con .Table .Table-th-btn {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.TableGroup .TableGroup-con .Table tr > th,
.TableGroup .TableGroup-con .Table tr > td {
  color: black;
  border: 1px solid transparent;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  padding: 0.25em 0.5em;
}

.Pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  max-width: 1440px;
  margin: 1rem auto;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Pagination .Pagination-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.Pagination .Pagination-group .Pagination-group-item {
  text-decoration: none;
  border: 1px solid #666666;
  width: 2.5vw;
  height: 2.5vw;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.Pagination .Pagination-group .Pagination-group-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.Pagination .Pagination-group .Pagination-group-itemActive {
  background: #666666;
  color: white;
}

.Pagination .Pagination-group .Pagination-group-itemActive:hover {
  background: #666666;
}

.PlayerDetail {
  width: 100vw;
  padding: 1em;
}

.PlayerDetail .PlayerDetail-header {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid;
}

.PlayerDetail .PlayerDetail-header .PlayerDetail-header-avatar {
  width: 3.7vw;
  height: 3.7vw;
  max-width: 70px;
  max-height: 70px;
  margin-right: 0.25em;
}

.PlayerDetail .PlayerDetail-main .PlayerDetail-main-table .PlayerDetail-main-tr .PlayerDetail-main-th {
  text-align: end;
}

.PlayerDetail .PlayerDetail-main .PlayerDetail-main-table .PlayerDetail-main-tr .PlayerDetail-main-td {
  min-width: 300px;
  padding-left: 1em;
}

.Chart {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Chart .Chart-main {
  width: 45vw;
  height: 45vw;
  min-width: 450px;
  min-height: 450px;
  background: white;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.Chart .Chart-main .Chart-main-top {
  background: #666666;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  font-weight: 700;
}

.Chart .Chart-main .Chart-main-bottom {
  height: 95%;
  position: relative;
  padding: 1em;
}

.Chart .Chart-main .Chart-main-bottom .Chart-main-bottom-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Chart .Chart-main .Chart-main-bottom .Chart-main-bottom-table .Chart-main-bottom-tr {
  margin: 0.2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Chart .Chart-main .Chart-main-bottom .Chart-main-bottom-table .Chart-main-bottom-th {
  width: 20%;
  min-height: 44px;
}

.Chart .Chart-main .Chart-main-bottom .Chart-main-bottom-table .Chart-main-bottom-td {
  width: 68%;
  margin-left: 1em;
  background: gainsboro;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Chart .Chart-main .Chart-main-bottom .Chart-main-bottom-table .Chart-main-bottom-td .Chart-main-bottom-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #006eb8;
}

.Chart .Chart-main .Chart-main-bottom .Chart-main-bottom-table .Chart-main-bottom-td-num {
  width: 10%;
  text-align: center;
}

.Chart .Chart-main .Chart-main-bottom .Chart-main-bottom-table .totalPlayer {
  font-size: 0.5em;
}
/*# sourceMappingURL=style.css.map */