$fontColor: #666666;
$activeColor: #ffa639;
$fontSize: 1em;

$width: 97%;
$max-width: 1440px;

// 清除預設
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $fontColor;
  font-size: $fontSize;
}

// 導覽列
.Navbar {
  .Navbar-top {
    width: 100%;
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 1em;

    // 頭像
    .Navbar-avatar {
      width: 3vw;
      height: 3vw;
    }
  }

  .Navbar-bottom {
    width: 100%;
    background-color: rgb(75, 75, 75);
    min-height: 30px;

    .Navbar-bottom-btn {
      text-decoration: none;
      display: inline-block;
      color: $activeColor;
      background: transparent;
      border: none;
      font-size: $fontSize;
      margin: 0.5em 2em;
      cursor: pointer;
    }
  }
}

// 搜尋容器
.SearchGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .SearchGroup-con {
    width: $width;
    max-width: $max-width;
    border: 3px solid $fontColor;
    border-radius: 10px;
    margin: 0.45rem 0;

    .SearchGroup-con-top {
      min-height: 100px;
      padding: 0.5em;

      & label,
      & input,
      & select {
        font-size: $fontSize;
        padding: 0.25rem;
      }

      & select {
        margin-right: 1em;
      }
    }

    .SearchGroup-con-bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em;

      .SearchGroup-con-bottom-btn {
        font-size: $fontSize;
        color: #666666;
        background: white;
        border: 1px solid #666666;
        padding: 0.25em;
        border-radius: 5px;
        font-weight: 800;
        cursor: pointer;
      }
    }
  }

  // 搜尋下方的圖表按鈕區域
  .SearchGroupShowCharts {
    width: $width;
    max-width: $max-width;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .SearchGroupShowCharts-btn {
      font-size: $fontSize;
      color: #666666;
      background: white;
      border: 1px solid #666666;
      padding: 0.25em;
      border-radius: 5px;
      font-weight: 800;
      cursor: pointer;
    }
  }
}

// table
.TableGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .TableGroup-con {
    width: $width;
    max-width: $max-width;
    overflow-y: scroll;
    margin: 0 auto;
    .Table {
      min-width: 100%;
      // max-width: $max-width;
      border-collapse: collapse;
      border: 2px solid $fontColor;
      margin: 0.45rem 0;

      // tr
      .Table-tr:nth-child(2n-1) {
        background: rgb(243, 243, 243);
      }

      // 需要長一點的欄位
      .Table-th-large {
        min-width: 200px;
      }

      // 球員細節按鈕
      .Table-detail {
        cursor: pointer;
        & svg {
          fill: $activeColor;
        }
      }

      .Table-th {
        font-size: 1.15em;
        padding: 0.25em 0.5em;
        min-width: 135px;
      }

      // 可升降冪的按鈕
      .Table-th-btn {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.3);
      }

      & tr > th,
      & tr > td {
        color: black;
        border: 1px solid transparent;
        border-left: 1px solid black;
        border-right: 1px solid black;
        text-align: center;
        padding: 0.25em 0.5em;
      }
    }
  }
}

// Pagination (分頁元件)
.Pagination {
  display: flex;
  width: 97%;
  max-width: 1440px;
  margin: 1rem auto;
  display: flex;
  justify-content: flex-end;
  .Pagination-group {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    .Pagination-group-item {
      text-decoration: none;
      border: 1px solid $fontColor;
      width: 2.5vw;
      height: 2.5vw;
      color: $fontColor;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .Pagination-group-itemActive {
      background: $fontColor;
      color: white;
      &:hover {
        background: $fontColor;
      }
    }
  }
}

// 球員詳細資料頁
.PlayerDetail {
  width: 100vw;
  padding: 1em;

  .PlayerDetail-header {
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 3px solid;

    .PlayerDetail-header-avatar {
      width: 3.7vw;
      height: 3.7vw;
      max-width: 70px;
      max-height: 70px;
      margin-right: 0.25em;
    }
  }

  .PlayerDetail-main {
    //font-size: 2em;
    .PlayerDetail-main-table {
      .PlayerDetail-main-tr {
        .PlayerDetail-main-th {
          text-align: end;
        }
        .PlayerDetail-main-td {
          min-width: 300px;
          padding-left: 1em;
        }
      }
    }
  }
}

// 圖表
.Chart {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  .Chart-main {
    width: 45vw;
    height: 45vw;
    min-width: 450px;
    min-height: 450px;
    background: white;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    // 上半部
    .Chart-main-top {
      background: $fontColor;
      //height: 5%;
      width: 100%;
      text-align: center;
      color: white;
      font-size: $fontSize;
      padding: 0.5em;
      font-weight: 700;
    }

    .Chart-main-bottom {
      height: 95%;
      position: relative;
      padding: 1em;

      .Chart-main-bottom-table {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;

        .Chart-main-bottom-tr {
          margin: 0.2em 0;
          display: flex;
          justify-content: space-between;
        }

        .Chart-main-bottom-th {
          width: 20%;
          min-height: 44px;
        }

        // 進度條容器
        .Chart-main-bottom-td {
          width: 68%;
          margin-left: 1em;
          background: gainsboro;
          position: relative;
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          // 進度條本體
          .Chart-main-bottom-progress {
            position: absolute;
            top: 0;
            left: 0;
            //width: 20%;
            height: 100%;
            background: rgb(0, 110, 184);
          }

          // 顯示％的文字
          .Chart-main-bottom-td-percent {
          }
        }

        .Chart-main-bottom-td-num {
          width: 10%;
          text-align: center;
        }

        .totalPlayer {
          font-size: 0.5em;
        }
      }
    }
  }
}
